a,
a:visited,
a:active {
    color: #444;
}

.vis {
    width: 940px;
    height: 600px;
    clear: both;
    margin-bottom: 10px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
}

.tooltip.title {
    font-size: 13px;
}

.tooltip .name {
    font-weight: bold;
}


/* .button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
} */


/* .button.active {
    background: #000;
    color: #fff;
} */


/* #toolbar {
    margin-top: 10px;
} */


/* .year {
    font-size: 21px;
    fill: #aaa;
    cursor: default;
} */


/* sunset */


/* body {
    font-family: 'times';
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 960px;
    height: 1400px;
    margin-top: 10px;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    float: right;
    width: 100px;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 13px 0 0 3px;
}

#sequence text,
#legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
} */